:root{
  --light_text: rgb(151, 158, 165);
  --hightlight_color: rgb(68, 27, 27);
}

* {
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}

body {
  align-items: flex-start;
  line-height: 1.3;
  background-color: var(--light_text);
  justify-content: space-between;
  width: 100%;
}

header, section {
  display: flex;
  align-items: flex-start;
  padding: 25px 0px 25px 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

/* section {
  padding: 25px 0px 25px 25px;
  justify-content: space-between;
  flex-wrap: wrap;
} */

nav {
  font-size: 115%;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

a {
  display: flex;
  background-color: unset;
  color: var(--hightlight_color);
  font-weight: bold;
  padding: 25px 25px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  line-height: 45px;
  font-size: 90%;
}

a:hover {
  color: white;
}

h1,h2,h3 {
  font-size: 200%;
  margin: 0;
  min-width: 400px;
  text-align: right;
  padding: 10px 10px 10px 0;
  color: var(--hightlight_color);  
}

h1 {
  background-color: var(--hightlight_color);
  color: var(--light_text)
}

h2 {
  font-size: 180%;
}

h3{
  font-size: 100%;
  background-color: var(--hightlight_color);
  color: var(--light_text)
}

aside {
  padding: 25px 25px 25px 0px;
  flex: 0;
}

.Background {
  display: flex;
  background-color: var(--hightlight_color);
  color: var(--light_text);
  min-width: 100%;
  font-weight: bold;
  padding: 150px 30px 25px 25px;
}

div {
  justify-content: left;
  align-items: center;
  border-left: solid black 5px;
  flex: 5;
  min-width: 400px;
  flex-wrap: wrap;
}

header div {
  border-left: none;
  display: flex;
  justify-content: right;
  align-items: center;
}