:root{
  --light_text: rgb(151, 158, 165);
  --hightlight_color: rgb(68, 27, 27);
}

* {
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: var(--light_text);
  color: var(--hightlight_color);
}

body > header {
  position: relative;
}

header > aside {
  align-self: center;
}

nav {
  font-size: 115%;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

a {
  display: flex;
  background-color: unset;
  color: var(--hightlight_color);
  font-weight: bold;
  padding: 25px 25px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  line-height: 45px;
  font-size: 90%;
}

section.two_col > article > nav > a {
  padding: 5px 25px 5px 25px;
}

h1,h2,h3 {
  font-size: 200%;
  margin: 0;
  /* min-width: 400px; */
  text-align: right;
  padding: 10px 10px 10px 10px;
  color: var(--hightlight_color);  
}

h1 {
  background-color: var(--hightlight_color);
  color: var(--light_text)
}

h2 {
  font-size: 180%;
}

h3{
  font-size: 100%;
  background-color: var(--hightlight_color);
  color: var(--light_text);
}

h4 {
  font-size: 180%;
  text-align: left;
}

.Background {
  display: flex;
  background-color: var(--hightlight_color);
  color: var(--light_text);
  min-width: 100%;
  max-width: 100%;
  font-weight: bold;
  border-top: solid 5px var(--hightlight_color);
  border-bottom: solid 5px var(--hightlight_color);
  position: relative;
}

header > article {
  flex: 3 1 10vw;
  min-width: 40vw;
  padding: 25px 0px 25px 0px;
}

aside, article {
  text-align: left;
  padding: 0px 10px 0px 10px;
}

section {
  padding: 30px 0 5px 0;
  position: static;
}

.two_col {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.two_col > aside {
  flex: 1 1 10vw;
  padding: 25px 0px 25px 0px;
}

section.two_col > article {
  flex: 4 1 10vw;
  min-width: 40vw;
  padding: 25px 15px 25px 15px;
  border-left: 5px solid var(--hightlight_color);
}

.nest_col {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-items: left;
  align-content: flex-end;
}

.nest_col > article {
  /* flex: 1 1 100vw;
  background-color: white;
  margin: 0px 10px 10px 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-items: center;
  align-content: flex-end;
  max-width: 100%;
  height: auto; */
  position: relative;
}

.nested_img_L {
  /* flex: 1 1 100vw;
  background-color: white;
  margin: 0 35px 0 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-items: center;
  align-content: flex-end; */
  max-width: 100%;
  height: auto;
  border: 8px solid var(--hightlight_color);
  margin-bottom: 10px;
}

.nest_col > aside {
  /* flex: 1 1 0; */
  /* background-color: red; */
  /* margin: 0 10px 10px 10px; */
  width: 50%;
  /* border: 2px solid var(--hightlight_color); */
  /* flex-wrap: wrap;
  justify-items: center;
  align-content: flex-end;
  max-width: 50%;
  height: auto; */
  position: relative;
}

.nested_img_S {
  /* flex: 1 1 0;
  background-color: red;
  margin: 0 0 0 0;
  flex-wrap: wrap;
  justify-items: center;
  align-content: flex-end; */
  max-width: 100%;
  height: auto;
  border: 8px solid var(--hightlight_color);
  margin: 10px 0 10px 0;
}

article > h3, aside > h3 {
  position: absolute;
  top: 50%;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 0px 10px 0px 8px;
  z-index: 1;
  font-size: 170%;
}

p {
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.3;
}

header > article {
  border-left: none;
}

a:hover {
  color: white;
}

img:hover {
  opacity: 0.7;
}

.headshot {
  position: absolute;
  justify-content: center;
  height: 28vw;
  width: 28vw;
  top: 120px;
  border-radius: 50%;
  border: 5px solid var(--hightlight_color);
}

@media screen and (max-width: 900px) {
  nav {
    justify-content: center;
    align-content: center;
  }
  article > h3, aside > h3 {
    font-size: 115%;
  }
}

@media screen and (max-width: 768px) {
  h1,h2,h3 {
    text-align: center;
    width: 100%
  }
  h2 {
    text-decoration: underline;
  }

  article {
    border-left: none;
  }

  .headshot { 
    top: 170px;
  }

  body, section, header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0 0 0 0;
  }

  aside, article {
    width: 100%;
    padding: 0px 10px 0px 10px;
    position: static;
  } 
 
  a {
    padding: 5px 5px 5px 5px;
  }

  section.two_col > article {
    border-left: none;
    border-bottom: solid 5px var(--hightlight_color);
    padding: 0 0 5px 0px;
    margin: 0 0 15px 0px;
  }

  section.two_col > aside {
    padding: 5px 0 5px 0px;
  }

  h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
  }
  .Background {
    display: flex;
    max-width: 100%;
  }

  article > h3, aside > h3 {
    font-size: 100%;
  }
  section.two_col > article {
    width: 95vw;
  }
}